* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    background-image: url("../img/wall.png");
    font-family: "Sometype Mono", monospace;
}

h1 {

    font-size: 3rem;
    text-align: center;
    font-weight: 500;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* main */

body {
    background-image: url(../img/cork.png);
    font-family: "Sometype Mono", serif;
}

.card {
    width: 350px;
}

.card-body {
    margin: 1rem;

}

.card-text {
    margin: 0 1rem 1rem 1rem;
    height: 70px;
}


/* hover */

.card:hover {
    scale: 1.1;
    rotate: 30deg;

}

.card:hover .card-title {
    visibility: hidden;
}



/* overlay */

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.852);
    position: fixed;
    top: 0;
    left: 0;
}

