* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        /* header */
header {
    background-image: url("../img/wall.png");
    font-family: "Sometype Mono", monospace;
}

h1 {

    font-size: 3rem;
    text-align: center;
    font-weight: 500;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* main */

body{
    background-image: url(../img/cork.png);
    font-family: "Sometype Mono", serif;
}
.card{
    width: 350px;
}
.card-body{
    margin: 1rem;
   
}
.card-text{
    margin: 0 1rem 1rem 1rem;
    height: 70px;
}